@using BookInfo.BusinessLayer
@using BookInfo.Entities
@using BookInfo.Models
@{
    IQueryable<Comment> list = CacheHelper.GetBooksFromCache();
}
<p class="lead">En Son Yorumlananlar</p>
<div class="list-group">
    @foreach (Comment item in list)
    {
        <a href="/Home/Kitap/@item.Book.Id" title="@item.Book.Name" class="list-group-item"><span class="glyphicon glyphicon-arrow-right"></span>@item.Book.Name</a>
    }
</div>